body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

.greyed {
    background-color: #EBEBEB;
}

#top {
    height: 65px;
    -webkit-box-shadow: 0 4px 5px rgba(50, 50, 50, 0.51);
    -moz-box-shadow: 0 4px 5px rgba(50, 50, 50, 0.51);
    box-shadow: 0 4px 5px rgba(50, 50, 50, 0.51);
    background: white;
    margin: 0;
    padding: 0;
}

strong {
    color: #373737;
    display: block;
}

.press {
    background: #FEFEFE;
}

h4 {
    color: #373737;
    font-family: Verdana;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;
}

.press-logo {
    width: 120px;
    height: 80px;
    border-radius: 30px;
    float: left;
    vertical-align: middle;
    margin-left:20%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #30abcc;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    width: 400px;
    font: italic normal 12pt/1.2em Georgia;
    color: #888;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}

#site-nav {
    position: relative;
    width: 100%;
    height: 100%;
    right: 0;
}

#site-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    top: 20%;
    margin-right: 30px;
}

#site-nav li {
    float: right;
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #a9a9ab;
}

#site-nav a {
    text-decoration: none;
    color: #a9a9ab;
    font-size: 18px;
    padding: 5px;
}

#site-nav a:hover {
    color: #000;
}

#site-nav a:active {
    color: #2c2c2e;
}

#top #logo {
    padding: 19px 25px;
    position: absolute;
    z-index:9;
}

#top #logo .inner {
    position: absolute;
    width: 173px;
    height: 32px;
    display:block;
}

#top #logo .inner img{
    width: 173px;
    height: 32px;
}

#main {
    width: 100%;
    position: relative;
}

#main > .img {
    background: url('../img/bg-image.png') no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 416px;
}

@media all and (min-width: 1600px) {
    #main > .img {
        min-height: 516px;
    }
}

@media all and (max-width: 1000px) {
    #main > .img {
        min-height: 216px !important;
    }
}

#main #overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: box;
    display: -moz-box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -moz-box-orient: horizontal;
}

.outer-centered {
    width: 700px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 25px;
    color: #8A8A8A;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 40px;
    margin: 20px auto;
}

.outer-centered p{
    text-align: left;
}

.outer-about a {
    color: #616161;
}

.outer-about .smaller {
    font-size: 14px;
}

.upper-press {
    width: 100%;
    height: 135px;
    padding: 5px 0 53px;
    border-bottom: 1px solid #DBDBDB;
    position: relative;
    overflow: hidden;
}

.upper-press ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.upper-press li {
    float: left;
    list-style: none;
    width:33%;
}

.upper-press li .item {
    float: left;
    width: 233px;
    margin: 0 53px 0 0;
}

.upper-press li .item .top-logo {
    width:100%;
}

.upper-press li a {
    line-height: 50px;
}

.upper-press li .item .quote {
    background: url(../../img/bg-text-block-top.gif) no-repeat;
    font-size: 15px;
    display: inline-block;
    padding-left: 20px;
    margin-top: 10px;
    color: #385361;
}

.upper-press li .item .quote .end-quote {
    background: url(../../img/bg-text-block-bottom.gif) no-repeat;
    display: inline-block;
    float: right;
    height: 12px;
    width: 17px;
    margin-top: 10px;
}

.lower-press {
    font-size: 13px;
    display: block;
}

.lower-press h2 {
    text-align: left;
}

.outer-about {
    margin-bottom: 25px;
    color: #8A8A8A;
    background-color: #FFF;
    border: 1px solid #D4D2D2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 8px -4px #000;
    -moz-box-shadow: 0 1px 8px -4px #000;
    box-shadow: 0 1px 8px -4px #000;
    padding: 40px;
    width: 800px;
    margin: 20px auto;
}

.outer-about p {
    display: inline-block;
    text-align: justify;
    vertical-align: middle;

}

.outer-about a {
    color: #8A8A8A;
}

.outer-about a:hover {
    color: #3a3a3a;
}

/*.outer-centered .centered {
    width: 450px;
    margin: 10px auto;
    display: block;
    vertical-align: middle;
    text-align: left;
}*/

#main #overlay .left {
    -webkit-box-flex: 1;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-orient:vertical;
    box-orient:vertical;
    -moz-box-orient:vertical;
}

#main #overlay .left h2{
    color:white;
    font-size: 32px;
    text-align: center;
}



#main #overlay .left h3 a{
    color:#ff8400;
    text-decoration: none;
    font-size: 29px;
    text-shadow: 0px 0px 1px black;
}

#main #overlay .right {
    -webkit-box-flex: 3;
    height: 100%;
    display: -webkit-box;
    display: box;
    display: -moz-box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -moz-box-orient: vertical;
}



#main #overlay .right .get-onefeed-button {

}

.get-btn {
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../../img/new-website/get-button-sprite.png');
}

.get-btn {
    background-position: 0 0;
    width: 336px;
    height: 95px;
}

.get-btn:hover {
    background-position: 0 -190px;
    width: 336px;
    height: 95px;
}

.get-btn:active {
    background-position: 0 -95px;
    width: 336px;
    height: 95px;
}

#bottom {

}

#bottom h2{
    text-align: center;
}

#bottom h5{
    text-align: center;
    line-height:180%;
    color:grey;
}

#bottom .main-text {
    text-align: center;
    height: 99px;
    margin: 50px auto 50px;
}

#footer {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 18px 0 35px 0;
    background: #fefefe;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.02);
    border-top: 1px solid #eeeeee;
}

#footer .contact-us {
    width: 400px;
    margin: 10px auto;
    font-size: 14px;
    text-decoration: none;
    color: #1b9cff;
    text-align: center;
}

#footer .contact-us a {

    font-size: 12px;
    text-decoration: none;
    color: #1b9cff;
    text-align: center;
}

#footer .contact-us a:hover {

    font-size: 12px;
    text-decoration: none;
    color: #1965ae;
    text-align: center;
}

#footer .address{
    font-size:11px;
    color:#333;
}

#footer .facebook-like {
    width: 400px;
    margin: 10px auto;
}

#footer .google-plus-1 {
    width: 200px;
    margin: 10px auto;
}

#footer .twitter-share {
    width: 400px;
    margin: 10px auto;
}

@media (min-width: 928px) {
    .lt-928 {
        display: none !important;
    }
}

@media (max-width: 928px) {
    .gt-928 {
        display: none !important;
    }
}

@media (min-width: 550px) {
    .lt-550 {
        display: none !important;
    }

}

@media (max-width: 550px) {
    .gt-550 {
        display: none !important;
    }
}

.only-not-chrome, .only-chrome {
    display: none;
}





.myButton {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:13px 31px;
    text-decoration:none;
    text-shadow:0px 1px 6px #2f6627;
}
.myButton:hover {
    background-color:#5cbf2a;
}
.myButton:active {
    position:relative;
    top:1px;
}


